@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3e5d7;
  height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}
main {
  max-width: 1440px;
  width: 90%;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}
.principal {
  font-size: 2em;
  font-family: "Young Serif", serif;
}
div {
  background-color: #fff7fc;
  padding: 20px;
  border-radius: 20px;
}
strong {
    color: #7b3f00;
}
img {
  width: 100%;
  border-radius: 10px;
}
h1 {
  margin: 20px 0;
  color: #7b3f00;
  font-family: Georgia, serif;
}

h2 {
  margin-top: 25px;
  color: hsl(332, 51%, 32%);
}
li {
  margin: 10px 0;
}
p {
  margin: 8px 0;
}
ul {
  padding-left: 20px;
}
section:first-of-type {
  background-color: #fff7fc;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.num {
    color: #7b3f00;
}